src/main/resources/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://service.example.com"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://service.example.com">
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://service.example.com">
         <xs:element name="add">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="a" type="xs:int"/>
                  <xs:element minOccurs="0" name="b" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sayHi">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="hello" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sayHiResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="addRequest">
      <wsdl:part name="parameters" element="ns:add"/>
   </wsdl:message>
   <wsdl:message name="addResponse">
      <wsdl:part name="parameters" element="ns:addResponse"/>
   </wsdl:message>
   <wsdl:message name="sayHiRequest">
      <wsdl:part name="parameters" element="ns:sayHi"/>
   </wsdl:message>
   <wsdl:message name="sayHiResponse">
      <wsdl:part name="parameters" element="ns:sayHiResponse"/>
   </wsdl:message>
   <wsdl:portType name="HelloWorldServicePortType">
      <wsdl:operation name="add">
         <wsdl:input message="ns:addRequest" wsaw:Action="urn:add"/>
         <wsdl:output message="ns:addResponse" wsaw:Action="urn:addResponse"/>
      </wsdl:operation>
      <wsdl:operation name="sayHi">
         <wsdl:input message="ns:sayHiRequest" wsaw:Action="urn:sayHi"/>
         <wsdl:output message="ns:sayHiResponse" wsaw:Action="urn:sayHiResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="HelloWorldServiceSoap11Binding"
                 type="ns:HelloWorldServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="add">
         <soap:operation soapAction="urn:add" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="sayHi">
         <soap:operation soapAction="urn:sayHi" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="HelloWorldServiceSoap12Binding"
                 type="ns:HelloWorldServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="add">
         <soap12:operation soapAction="urn:add" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="sayHi">
         <soap12:operation soapAction="urn:sayHi" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="HelloWorldServiceHttpBinding" type="ns:HelloWorldServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="add">
         <http:operation location="add"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="sayHi">
         <http:operation location="sayHi"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="HelloWorldService">
      <wsdl:port name="HelloWorldServiceHttpSoap11Endpoint"
                 binding="ns:HelloWorldServiceSoap11Binding">
         <soap:address location="http://localhost:9763/services/HelloService"/>
      </wsdl:port>
      <wsdl:port name="HelloWorldServiceHttpSoap12Endpoint"
                 binding="ns:HelloWorldServiceSoap12Binding">
         <soap12:address location="http://localhost:9763/services/HelloService"/>
      </wsdl:port>
      <wsdl:port name="HelloWorldServiceHttpEndpoint"
                 binding="ns:HelloWorldServiceHttpBinding">
         <http:address location="http://localhost:9763/services/HelloService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
